$tag-bgcolor: rgb(0, 188, 212);
$tag-color: rgb(255, 255, 255);
$input-bgcolor: #ffffff;
$tag-marked: #ff0000;

.tagbox-internal {
  padding: 0.5rem;
}

.tagbox {

  &-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
    min-height: 3.5rem;
  }

  &-input-container {
    @extend .tagbox-internal;
    flex: 2 0 15%;
  }

  &-input {
    flex: 0 1 auto;
    border: none;
    background-color: $input-bgcolor;
    outline: none;
    font-size: 1.2rem;
    width: 100%;
  }

  &-input:focus {
    outline: none;
  }

  &-close {
    font-size: 1.2rem;
    padding-left: 0.2rem;
    cursor: pointer;
  }

}